.officials-section {
  position: absolute;
  top: 500px;
  left: 65px;
  width: 300px;
  font-family: "Times New Roman", serif;
  color: #000;
  text-align: left;
}

.official-name {
  font-weight: bold;
  display: inline-block;
}

#punong-barangay {
  position: relative;
  top: -200px; 
  left: -32px;
  font-size: 18px;
}
#kagawad-1 {
  position: relative;
  top: -125px; 
  left: -20px;
  font-size: 16px;
}

#kagawad-2 {
  position: relative;
  top: -78px; 
  left: -40px;
  font-size: 16px;
}

#kagawad-3 {
  position: relative;
  top: -30px; 
  left: -47px;
  font-size: 16px;
}

#kagawad-4 {
  position: relative;
  top: 20px; 
  left: -22px;
  font-size: 16px;
}

#kagawad-5 {
  position: relative;
  top: 70px; 
  left: -20px;
  font-size: 16px;
}

#kagawad-6 {
  position: relative;
  top: 115px; 
  left: -5px;
  font-size: 16px;
}

#kagawad-7 {
  position: relative;
  top: 159px; 
  left: -25px;
  font-size: 16px;
}

#secretary {
  position: relative;
  top: 230px; 
  left: -52px;
  font-size: 15px;
}

#treasurer {
  position: relative;
  top: 275px; 
  left: -22px;
  font-size: 16px;
}

#sk-chairperson {
  position: relative;
  top: 335px; 
  left: -48px;
  font-size: 18px;
}

