asgiref==3.8.1
asttokens==2.4.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
crispy-bootstrap4==2024.1
debugpy==1.8.0
decorator==5.1.1
Django==5.0.6
django-cors-headers==4.4.0
django-crispy-forms==2.2
django-filter==24.2
djangorestframework==3.15.2
executing==2.1.0
fastjsonschema==2.20.0
Flask==3.0.3
ipykernel==6.29.5
ipython==8.28.0
ipywidgets==8.1.5
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.4
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.4.0
mysqlclient==2.2.4
nest-asyncio==1.6.0
numpy==1.26.4
packaging==24.1
parso==0.8.4
pillow==10.3.0
pip
platformdirs==3.6.0
prompt_toolkit==3.0.43
psutil==5.9.8
pure_eval==0.2.3
Pygments==2.18.0
PyMySQL==1.1.0
python-dateutil==2.9.0.post0
python-form==0.2.3
pytz==2024.2
