{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/certification.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    {% include 'authapp/navbar.html' %}

    <main class="certification">
        <div class="certification-main-card">
            <header>
                <h1>Certification</h1>
            </header>

            <div class="certificate-grid-container">

                <div class="certificate-card">
                    <h3 class="cert-title">Good Moral Character</h3>
                    <a href="{% url 'search_resident' 'good_moral' %}">
                        <img src="{% static 'images/goodmoral.png' %}" alt="Good Moral Character">
                    </a>
                </div>

                <div class="certificate-card">
                    <h3 class="cert-title"> Financial Assistance</h3>
                    <a href="{% url 'search_resident' 'financial_assistance' %}">
                        <img src="{% static 'images/New-Brgy.-Cert-for-financial-assistancee.png' %}" alt="Financial Assistance">
                    </a>
                </div>

                <div class="certificate-card">
                    <h3 class="cert-title">Proof of Residency</h3>
                    <a href="{% url 'search_resident' 'proof_of_residency' %}">
                        <img src="{% static 'images/New-Brgy.-Cert-for-Proof-of-Residency.png' %}" alt="Certificate of Residency">
                    </a>
                </div>

                <div class="certificate-card">
                    <h3 class="cert-title">Medical Assistance</h3>
                    <a href="{% url 'search_resident' 'medical_assistance' %}">
                        <img src="{% static 'images/New-Brgy.-Cert-of-Indigency-for-Medical-Assistance.png' %}" alt="Certificate of Medical Assistance">
                    </a>
                </div>

                <div class="certificate-card">
                    <h3 class="cert-title">Burial Assistance</h3>
                    <a href="{% url 'search_resident' 'burial_assistance' %}">
                        <img src="{% static 'images/New-Brgy.-Cert-for-burial-assistance.png' %}" alt="Burial Assistance">
                    </a>
                </div>

                <div class="certificate-card">
                    <h3 class="cert-title">Solo Parent Renewal</h3>
                    <a href="{% url 'search_resident' 'solo_parent_renewal' %}">
                        <img src="{% static 'images/New-Brgy.-Cert-for-Solo-Parent-Renewal.png' %}" alt="Solo Parent Renewal">
                    </a>
                </div>

            </div>
        </div>
    </main>

    <script src="{% static 'js/certification.js' %}"></script>
</body>
</html>