{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="sidebar">
        <button class="sidebar-toggle" onclick="toggleSidebar()">
            <span class="toggle-icon">&#8592;</span> <!-- Left arrow by default -->
        </button>        
        <div class="logo-container">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}"><i class="fas fa-th"></i><span class="nav-text"> Dashboard</span></a></li>
                <li><a href="{% url 'certification' %}"><i class="fas fa-id-card"></i><span class="nav-text"> Certification</span></a></li>
                <li><a href="{% url 'records' %}"><i class="fas fa-folder"></i><span class="nav-text"> Records</span></a></li>
                <li><a href="{% url 'logbook' %}"><i class="fas fa-book"></i><span class="nav-text"> Log-book</span></a></li>
            </ul>
        </nav>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>

    <main class="dashboard">
        <div class="card main-dashboard-card">
            <header>
                <h1>Main Dashboard</h1>
                <select id="sortOption">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
            </header>
        
    
            <div class="grid-container">
                <div class="card">Bar Graph</div>
                <div class="card">Histogram</div>
                <div class="card">Line Graph</div>
                <div class="card">Combo Chart</div>
                <div class="card">Area Graph</div>
                <div class="card">Bar Graph Table</div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
