{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    {% include 'authapp/navbar.html' %}

    <main class="dashboard">
        <div class="card main-dashboard-card">
            <header>
                <h1>Main Dashboard</h1>
                <select id="sortOption">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
            </header>
        
    
            <div class="grid-container">
                <div class="card">Bar Graph</div>
                <div class="card">Histogram</div>
                <div class="card">Line Graph</div>
                <div class="card">Combo Chart</div>
                <div class="card">Area Graph</div>
                <div class="card">Bar Graph Table</div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
