/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #e0dede;
}

/* Main Content */
.certification {
    margin-left: 275px;
    padding: 30px;
    flex-grow: 1;
    transition: margin-left 0.3s ease-in-out;
    width: calc(100% - 250px);
}

.sidebar.collapsed + .certification {
    margin-left: 80px;
    width: calc(100% - 80px);
}


/* certification Main Card */
.certification-main-card {
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.603);
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

/* certification Grid Layout */
.certification-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}
/* Grid for Certificates */
.certificate-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns fixed */
    gap: 30px;
    margin-top: 30px;
}

/* Individual Certificate Card */
.certificate-card {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.certificate-card img {
    height: 580px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.certificate-card img:hover {
    transform: scale(1.02);
}

.cert-title {
    font-size: 1rem;
    margin-bottom: 12px;
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
}