body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/loginbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.767);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
    position: relative;
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
    border: 3px solid #fff;
}

h2.center-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-right: 10px;
    white-space: nowrap;
}

input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 8px;
    font-size: 14px;
}

button {
    width: 20%;
    padding: 10px;
    background-color: #a50b06;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    float: right;
}

button:hover {
    background-color: #830400;
}

.forgot-password {
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
    display: block;
}


.error-banner {
    background-color: #823b3d; /* Red background */
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    position: fixed; /* Make it float */
    top: 20px; /* Distance from the top */
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    max-width: 500px;
    z-index: 1000;
}

.lock-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.input-error {
    border: 2px solid rgba(255, 125, 125, 0.993);
    background-color: #ffe6e6;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

